@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,900&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(#633a82 1px, transparent 1px),
    radial-gradient(#633a82 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
footer {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  color: #633a82;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

footer a {
  text-decoration: none;
  color: #633a82;
  margin-left: 3px;
}

footer a:hover {
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
